body
{
    background: #775346;
}

.tittles
{
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 600;
}

.newID
{
    color: greenyellow;
}

.oldID
{
    color: red;
}

.header
{
    color: antiquewhite;
}

.button
{
    background-color: #63412a;
    color: antiquewhite;
}